body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
padding: 0px 1rem;
}

.content{
min-height: calc(100vh - 64px - 70px);
padding: 1.5rem 0px;
}

.movies{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
	gap: 1rem;
}

.input-field{
}

.search{
	position: absolute;
	top: 0;
	right: 0.1rem;
}

label:not(:last-child){
	margin-right: 1rem;
}
.radio{
	margin-left: 2.5rem;
}